*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.a{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.2)), URL(photo3.jpg);
	background-size: 100%;
}
.a .b{
	max-width: 800px;
	text-align: center;
}
.a .b h2{
	font-size: 36px;
	font-weight: 500;
	color: white;
}
.a .b p{
	font-weight: 300;
	color: white;
}
.c{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.c .d{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.c .d .e{
	position: relative;
	padding: 30px 0;
	display: flex;
}
.c .d .e .f{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 28px;
}
.c .d .e .f .t{
	display: flex;
	margin-left: 20px;
	font-size: 20px;
	color: black;
	flex-direction: column;
	font-weight: 300;
}
.c .d .e .f .t h3{
	font-weight: 500;
	color: black;
}
.g{
	width: 40%;
	padding: 40px;
	background: #fff;
}
.g h2{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}
.g .h{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.g .h input,
.g .h textarea
{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.g .h span{
	position: absolute;
	left:0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.g .h input:focus ~ span,
.g .h input:valid ~ span,
.g .h textarea:focus ~ span,
.g .h textarea:valid ~ span{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.g .h input[type="submit"]
{
	widht: 100px;
	background: white;
	color: black;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 20px;
}




